
*{
    text-align: center;
    padding:0px;
    margin:0px;
}
header{
    color: rgb(10, 1, 1);
    background-color: rgb(54, 194, 183);
}

main{
    color: white;
    background-color: blue;
}

footer{
    color: white;
    background-color: rgb(12, 2, 2);
}